;//htaccess যেটা server এর configaretion পর্যন্ত change করতে দিবে
;//কোনো server এর root access না থাকলে htaccess নিয়ে কাজ করতে হয় যেমন share hostting তখন কোনো কিছু change করার জন্য htaccess ব্যবহার করতে হবে




<IfModule mod_rewrite.c>
	RewriteEngine on
	
   RewriteCond %{REQUEST_FILENAME}% !~d   ;//htaccess file এর মধ্যে যদি কোনো file বা directory এরে request আসে  তাহলে সেটাকে read না করে দিয়ে দিবে সরাসরি
   RewriteCond %{REQUEST_FILENAME}% !~f 
   
; //RewriteRule ^ public/index.php [L]//যদি public directory তে কাজ করতে চাই তাহলে এই লাইনটা দিয়ে কাজ করতে হবে
; RewriteRule ^ public/index.php [L]
; RewriteRule ^ index.php [L] 
 RewriteRule ^ index.php [L] 

<IfModule>

